{% extends 'base.html' %}

{% load static %}

{% block 'title' %}comments{% endblock 'title' %}

{% block 'style' %}

<link rel="stylesheet" href="{% static 'css/comment-styles.css' %}">

{% endblock 'style' %}

{% block 'content' %}
<!-- header section -->
<section>
<div class="container-fluid sticky-top" style="padding: 0;">
   <header class="navbar flex-md-nowrap p-0 shadow mb-0 pl-2" data-bs-theme="light" style="background-color: #000157;">  <!-- #000157 -->
      <a class="navbar-brand fs-6 text-white pb-0" href="{% url 'Authentication:home' %}">
         <i class="bi bi-house-fill px-2" style="display: block; width: 105px; height: 40px"><small class="fs-6 mx-2">Comments</small></i>
      </a>
   </header>
</section>


<div class="container mt-3">
   <p class="lead mb-3 fs-6 text-center text-primary-emphasis">{{ post.content_text }}</p>

   <!-- Comments Section -->
   <div class="comments-container">
       <!-- Display existing comments -->
       {% for cmt in comments %}
       <div class="card comment-card mb-3">
           <div class="card-body">
               <h5 class="card-title text-primary-emphasis"><i class="bi bi-person-circle mx-2"></i><small>{{ cmt.commenter }}</small></h5>
               <p class="mb-2 mt-3">{{ cmt.comment_content }}</p>
               
               {% if request.user.is_authenticated and customuser.username == cmt.commenter.username %}
               <form action="{% url 'FknAp:comment_delete' post.id cmt.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn text-danger btn-sm float-right mr-2">Delete</button>
                  {% endif %}
                  {% if cmt.replies.count == 0 %}<a href="{% url 'FknAp:add_reply' post.id cmt.id %}" class="btn text-primary btn-sm float-right mr-2">Reply 
                    {% else %} <a href="{% url 'FknAp:add_reply' post.id cmt.id %}" class="btn text-primary btn-sm float-right mr-2">{{ cmt.replies.count }} {{ cmt.replies.count|pluralize:"Reply,Replies" }}  {% endif %}
               </form>
               
           </div>
       </div>
       {% endfor %}
   </div>


  <!-- New Comment Form -->
<form method="post" action="{% url 'FknAp:comments' post.id %}" class="comment-form">
    {% csrf_token %}
    <div class="input-group">
        <textarea class="form-control border-0" placeholder="Add a comment" name="comment_text" id="my-comment-reply" style="height: 2.5rem;" required minlength="1"></textarea>
        <div class="input-group-append ms-1">
            <button class="btn btn-link-light" type="submit">
                <i class="far fa-paper-plane"></i> 
            </button>
        </div>
    </div>
</form>

</div>

{% endblock 'content' %}
















{% comment %} 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Comments Page</title>
    <!-- Add Bootstrap CSS link here -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> <!-- Font Awesome for icons -->

</head> {% endcomment %}


