<section>
    <div class="container-fluid mt-5 w-100 mx-0" style="background-color: #000157;">
        <footer class="text-light p-5">
            <div class="row justify-content-center">
    
                <div class="col-md-4 text-center">
                    <h5>Follow Us</h5>
                    <a href="https://www.instagram.com/fikrin.__/" class="text-light me-3 social-icon"><i class="bi bi-instagram"></i></a>
                </div>
            </div>
            <hr class="bg-light">
            <div class="text-center">
                <p class="mb-0">&copy; 2024 fikrin. All rights reserved.</p>
            </div>
        </footer>
    </div>
</section>
