
{% extends 'base.html' %}

{% load static %}

{% block 'title' %}{% endblock 'title' %}

{% block 'style' %}

<link rel="stylesheet" href="{% static 'css/index-styles_v1.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<script src="{% static 'js/like_v1.js' %}"></script>

{% endblock 'style' %}
                                                                                                                                    
{% block 'content' %}

<section>
    <div class="container-fluid fixed-top" style="padding: 0;">
      <header class="navbar flex-md-nowrap pe-0 shadow mb-0 pl-2 py-2" data-bs-theme="light" style="background-color: #000157;">  <!-- #000157 -->
          <a class="navbar-brand fs-5 text-white px-3" href="{% url 'Authentication:profile' %}">
            <b><i class="bi bi-arrow-left px-2" style="display: block; width: 165px; height: 40px"><small class="fs-6 mx-2">Profile Picture</small></i><b/>
          </a>
      </header>
  </section>

<div class="container text-center" style="margin-top: 67px;">
    <div class="row">
        {% if images %}
        {% for image in images %}
            <div class="col-3 m-0 p-0 border-2">
                <a href="{% url 'Authentication:set_profile_pic' image.id %}">
                    <img src="{{ image.image.url }}" alt="{{ image.description }}" class="img-fluid">
                </a>
            </div>
        {% endfor %}
    {% else %}
        <p class="mt-5">No images available.</p>
    {% endif %}
    
    </div>
</div>

  

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


{% endblock 'content' %}





