{% extends 'base.html' %}

{% load static %}

{% block 'title' %}{% endblock 'title' %}

{% block 'style' %}

<link rel="stylesheet" href="{% static 'css/index-styles.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<script src="{% static 'js/like.js' %}"></script>
{% endblock 'style' %}

{% block 'content' %}

{% include "header.html" %}

<div class="w-full sm:max-w-lg sm:mx-auto px-4" style="margin-bottom: 100px;">
    {% for item in posts %}
    <div class="post">
        
        <article class="overflow-hidden rounded shadow mt-4">
            <div class="sm:flex sm:flex-wrap">
                <div class="sm:w-100 p-4">
                    <span class="uppercase tracking-wide inline-block px-2 rounded-full text-xs bg-gray-300 text-gray-600"><i class="bi bi-quote"></i></span>
                    <div class="content"><p class="text-gray-700 mt-2 mb-0" id="content" style="white-space: pre-wrap;">{{ item.content_text }}</p></div>
                    <button class="btn btn-sm btn-link text-decoration-none p-0 mt-0" onclick="toggleContent(this)" style="padding:0;">Read More</button>
                    <div class="flex mt-4">
                        {% if item.creater.profile_pic %}   <img src="{{ item.creater.profile_pic.url }}"  class="h-10 w-10 object-cover rounded">
                        {% else %}  <img src="{% static 'img/placeholder.png' %}"  class="h-10 w-10 object-cover rounded">  {% endif %}
                        <div class="pl-3 text-sm text-gray-600 ">
                            <p class="truncate">{{item.creater}} <br>
                            <small class="text-body-secondary fw-lighter">
                            Updated {{ item.date_created|timesince }} ago
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        
        <nav id="articleOptions" class="navbar navbar_2 navbar-light bg-light mt-1" style="display: none;">
            <div class="icon-container">
                <ul class="row mb-2">
                     
                    <li class="col nav-item">

                        {% if user in item.likers.all %}
                        <div class="like" onclick="unlike_post(this)" data-post_id="{{item.id}}" data-unlike_url="{% url 'FknAp:unlikepost' id=item.id %}">
                            <div style="display: flex;">
                                <div class="svg-span">
                                    <svg width="1.1em" height="1.1em" viewBox="0 -1 16 16" class="bi bi-heart-fill" fill="#e0245e" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                    </svg>
                                </div>
                                &nbsp;
                                <div class="likes_count">{% if item.likers.count != 0 %}{{item.likers.count}}{% endif %}</div>
                            </div>
                        </div>
                    {% else %}
                    <div class="like" onclick="like_post(this)" data-post_id="{{ item.id }}" data-like_url="{% url 'FknAp:likepost' id=item.id %}">                   
                        <div style="display: flex;">
                            <div class="svg-span">
                                <svg class="liked" width="1.1em" height="1.1em" viewBox="0 -1 16 16" class="bi bi-heart" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="color: #000157">
                                    <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                </svg>
                            </div>
                            &nbsp;
                            <div class="likes_count">{% if item.likers.count != 0 %}{{item.likers.count}}{% endif %}</div>
                        </div>
                        </div>    

                    {% endif %}


                    </li> 
                    <li class="col nav-item">
                        {% if user.is_authenticated %}
                                <a href="{% url 'FknAp:comments' item.id %}" class="nav-link"><i class="bi bi-chat-right me-1"></i>{% if item.comments.count > 0 %}{{ item.comments.count }}{% endif %}</a>
                        {% else %}  <a class="nav-link"><i class="bi bi-chat-right me-1"></i>{% if item.comments.count > 0 %}{{ item.comments.count }}{% endif %}</a>
                        {% endif %}
                    </li>
                    
                    {% if request.user.is_authenticated and customuser.username == item.creater.username %}
                    <li class="col nav-item">
                        <a class="nav-link" ><i class="bi bi-pencil" data-bs-toggle="modal" data-bs-target="#edit_quotes{{ item.id }}" data-bs-placement="right"></i> </a>
                    </li>
                    <li class="col nav-item">
                        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#confirmationModal">
                            <i class="bi bi-trash"></i>
                          </a>
                    </li>
                    {% endif %}
                    <li class="col nav-item">
                        <a class="nav-link" {% if user.is_authenticated %} ondblclick="copyContent('{{ item.content_text|escapejs }}');" {% endif %}><i class="bi bi-files scrollLink"></i></a>
                    </li>
                    <!-- Connect the "Report" icon with the report confirmation modal -->
                    {% if customuser.username != item.creater.username %}
                    <li class="col nav-item">
                        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#reportConfirmationModal{{ item.id }}">
                            <i class="bi bi-flag-fill text-danger"></i>
                        </a>
                    </li>
                    {% endif %}

                </ul>
            </div>
        </nav>


<!-- popup for deleting -->
{% if request.user.is_authenticated and customuser.username == item.creater.username %}
<div class="modal fade" id="edit_quotes{{ item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content border-1" style="border-color: #000157;">
            <div class="modal-body p-2 pb-0">
                <form method="post" action="{% url 'FknAp:edit_post' item.id %}">
                    {% csrf_token %}
                    <div class="form-group"><textarea class="form-control p-3" id="postContent" name="edit_text" rows="6" required minlength="50">{{ item.content_text }}</textarea></div>
                    <div class="row px-4 my-2">
                        <p class="col-11 fw-lighter">Capture your thoughts</p>
                        <button type="submit" class="col-1 btn btn-link p-0" ><i class="fa-solid fa-paper-plane" style="font-size: 20px; color: #000157;"></i></button>    
                    </div>
                    </div>
                </form>                
            </div>
        </div>
    </div>
</div>
{% endif %}


<!-- alert popup for delete confirm message  -->
{% if request.user.is_authenticated and customuser.username == item.creater.username %}
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bg-light border border-primary">
        <div class="modal-body text-dark"><p><small>Are you absolutely sure you want to proceed and delete this item?</small></p></div>
        <div class="modal-footer border-0 mt-0 pt-0">
            <input type="hidden" name="item_id" value="{{ item.id }}">
            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <a href="{% url 'FknAp:delete_post' item.id %}" type="button" class="btn btn-sm btn-primary">Delete</a>

        </div>
      </div>
    </div>
</div> 
{% endif %}

<!-- alert popup for report confirmation message -->
{% if request.user.is_authenticated and customuser.username != item.creater.username %}
<div class="modal fade" id="reportConfirmationModal{{ item.id }}" tabindex="-1" aria-labelledby="reportConfirmationModalLabel{{ item.id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bg-light border border-danger">
        <div class="modal-body text-dark"><p><small>Are you sure you want to report this post as negative?</small></p></div>
        <div class="modal-footer border-0 mt-0 pt-0">
            <input type="hidden" name="item_id" value="{{ item.id }}">
            <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <a href="{% url 'Authentication:home' %}" id="reportButton" class="btn btn-sm btn-danger">Report</a>
        </div>
      </div>
    </div>
</div> 
{% endif %}

        {% endfor %}
    </div>
</div>


<button class="add-post-button" {% if user.is_authenticated %} data-toggle="modal" {% endif %} data-target="#postModal">
    <a {% if not user.is_authenticated %} href="" {% endif %} class="text-decoration-none text-light"><img src="{% static 'img/write.png' %}" alt=""></a></button>
    
<!-- Post adding popup Window -->
{% if request.user.is_authenticated %} 
<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content border-1" style="border-color: #000157;">
            <div class="modal-body p-2 pb-0">
                <form method="post" action="{% url 'FknAp:create_post' %}">
                    {% csrf_token %}
                    <div class="form-group"><textarea class="form-control p-3" id="postContent" name ="content_text" rows="6" required minlength="50"></textarea></div>
                    <div class="row px-4 my-2">
                        <p class="col-11 fw-lighter"><small>Capture your thoughts</small></p> 
                        <button type="submit" class="col-1 btn btn-link p-0" ><i class="fa-solid fa-paper-plane" style="font-size: 20px; color: #000157;"></i></button>    
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if user.is_authenticated %}
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000" id="infoToast"
 style="width: fit-content;">
    <div class="toast-body"> Content is copied! </div>
</div>
{% endif %}


<script>
// Display a confirmation message for reporting the 
document.getElementById('reportButton').addEventListener('click', function() {
    alert('Thanks for reporting!');
});
</script>
<script src="{% static 'js/index.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


{% endblock 'content' %}

