{% extends 'base.html' %}

{% load static %}

{% block 'title' %}{% endblock 'title' %}

{% block 'style' %}
    <link rel="stylesheet" href="{% static 'css/login-styles_v1.css' %}">
{% endblock 'style' %}

{% block 'content' %}

<div class="container-fluid sticky-top w-100 mx-0 p-0">
	<header class="navbar flex-md-nowrap p-0 shadow mb-0 justify-content-center" data-bs-theme="light" style="background-color: #000157;"> 
		<a class="navbar-brand fs-6 text-white" href="{% url 'Authentication:home' %}">
			<img src="{% static 'img/fkrnlogo.png' %}" style="width: 105px; height: 60px" alt="Logo">
		</a>
	</header>

	<div class="alert alert-info alert-dismissible fade show mb-0 shadow-sm" role="alert" style="background-color: #e6f7ff; color: #004085; border-color: #b8daff;">
	<small>If you haven't registered yet, please</small>  
		<a class="ms-1" href="{% url 'Authentication:signup' %}" style="text-decoration: none; color: #0056b3;"><small class="mx-0 px-0">Signup</small></a>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
</div>

<div class="w-full sm:max-w-lg sm:mx-auto">
	<article class="overflow-hidden">
		<div class="sm:flex sm:flex-wrap">
			<div class="screen">
				<div class="screen__content">
					<form class="login" action="" method="post">
						{% csrf_token %}  
						<div class="login__field">
							<i class="login__icon fas fa-user"></i>
							<input type="text" class="login__input" placeholder="Username" name="username" required minlength="5">
							<p class="text-danger"><small>{{error_message}}</small></p>
						</div>
						<div class="login__field">
							<i class="login__icon fas fa-lock"></i>
							<input type="password" class="login__input" placeholder="Password" name="password" required>
						</div>
						<button class="button login__submit" type="submit">
							<span class="button__text">Log In Now</span>
							<i class="button__icon fas fa-chevron-right"></i>
						</button>             
					</form>
				</div>
				<div class="screen__background">
					<span class="screen__background__shape screen__background__shape4"></span>
					<span class="screen__background__shape screen__background__shape3"></span>        
					<span class="screen__background__shape screen__background__shape2"></span>
					<span class="screen__background__shape screen__background__shape1"></span>
				</div>      
			</div>
		</div>
	</article>
</div>

{% include "footer.html" %}

{% endblock 'content' %}


