
{% extends 'base.html' %}

{% load static %}

{% block 'title' %}notifications{% endblock 'title' %}

{% block 'style' %}

    <link rel="stylesheet" href="{% static 'css/noti-styles.css' %}">

{% endblock 'style' %}

{% block 'content' %}

<section>
    <div class="container-fluid fixed-top" style="padding: 0;">
      <header class="navbar flex-md-nowrap pe-0 shadow mb-0 pl-2 py-2 ml-3" data-bs-theme="light" style="background-color: #000157;">
          <a class="navbar-brand fs-5 text-white" href="{% url 'Authentication:home' %}">
            <i class="bi bi-arrow-left px-3" style="display: block; width: 140px; height: 40px"><small class="fs-6 mx-2">Notifications</small></i>
          </a>
          <ul class="navbar-nav flex-row d-md-none">
            <li class="nav-item text-nowrap">
                {% if user.is_authenticated %}
                <a href="{% url 'FknAp:clear_notifications' %}" class="nav-link px-3">
                    <i type="button" class="bi bi-trash3 position-relative text-light">
                        <span class="position-absolute top-50 ms-1 start-100 translate-middle badge rounded-pill"></span>
                    </i> {% endif %}
                </a>
            </li>
            <li class="nav-item text-nowrap">
                <button class="nav-link px-3 text-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="bi bi-list text-light"></i>
                </button>
            </li>
        </ul>
      </header>
  </section>

<div class="container" style="padding-bottom: 95px; padding-top: 95px;">
    <ul class="notification-list">
        {% for notification in notifications %}
        <a href="{% url 'FknAp:comments' notification.post.id %}#comment_{{ notification.id }}" class="text-decoration-none text-dark">
            <li class="notification-item">
                <div class="notification-message text-truncate fs-6">{{ notification.message }}</div>
                <div class="notification-timestamp">{{ notification.timestamp }}</div>
            </li>
        </a>
        {% endfor %}
    </ul>
</div> 



{% endblock 'content' %}


