{% extends 'base.html' %}

{% load static %}

{% block 'title' %}{% endblock 'title' %}

{% block 'style' %}

<link rel="stylesheet" href="{% static 'css/profile-styles.css' %}">
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>

{% endblock 'style' %}


{% block 'content' %}

<section>
  <div class="container-fluid fixed-top" style="padding: 0;">
    <header class="navbar flex-md-nowrap pe-0 shadow mb-0 pl-2 py-2" data-bs-theme="light" style="background-color: #000157;">  <!-- #000157 -->
        <a class="navbar-brand fs-5 text-white px-3" href="{% url 'Authentication:home' %}">
          <b><i class="bi bi-arrow-left px-2" style="display: block; width: 165px; height: 40px"><small class="fs-6 mx-2">Profile page</small></i><b/>
        </a>
    </header>
</section>

<section>

  <div class="profile" style="margin-top: 80px;">
    <a href="{% url 'Authentication:gallery' %}">
      <div class="img">
        
        {% if customuser.profile_pic %}<img src="{{ customuser.profile_pic.url }}"/>
        {% else %}<img src="{% static 'img/profile_avatar.png' %}"/>{% endif %} 
    </div>
    </a>
    
    <a class="view-more" href="">

    </a>
    <div class="mid-section pt-0 mt-4">
      <div class="name">{{ customuser.username }}</div>
      <div class="description">Embracing thoughts, sharing quotes. Joining hearts through words on this social journey</div>
      <div class="line"></div>
      <div class="stats">
        
        <a href="{% url 'Authentication:signout' %}" class="text-decoration-none mt-5 text-danger">Sign Out</a>
        
      </div>
    </div>

</section>

  {% endblock 'content' %}




