{% extends 'base.html' %}

{% load static %}

{% block 'title' %}reply{% endblock 'title' %}

{% block 'style' %}

<link rel="stylesheet" href="{% static 'css/comment-styles_v1.css' %}">

{% endblock 'style' %}

{% block 'content' %}

<div class="container-fluid" style="padding: 0;">
    <header class="navbar flex-md-nowrap pe-0 shadow mb-0 pl-2 py-2" data-bs-theme="light" style="background-color: #000157;">
        <a class="navbar-brand fs-5 text-white px-3" href="{% url 'FknAp:comments' post.id %}">
            <i class="bi bi-arrow-left px-2 fw-bold" style="display: block; width: 165px; height: 40px"><small class="fs-6 mx-2"><b>Replies</b></small></i>
        </a>
    </header>
</div>
<div class="container-fluid pt-0 sticky-top" style="padding: 0;">
    <div class="container pt-2 bg-white">
        <div class="content">
            <p class="text-gray-700 mt-2 mb-0" id="content" style="white-space: pre-wrap;">{{ parent_comment.comment_content }}</p>
        </div>
        <button class="btn btn-sm btn-link text-decoration-none p-0 mt-1 mb-2" onclick="toggleContent(this)" style="padding:0;">Read more</button>
    </div>
</div>
<hr style="margin-top: 5px; margin-bottom: 5px;">

<div class="container mt-3" id="dynamicMarginContainer">

   <!-- Comments Section -->
    <div class="comments-container">
       <!-- Display existing comments -->
       {% for reply in parent_comment.replies.all %}

       <div class="card comment-card">
           <div class="card-body">
               <h5 class="card-title text-primary-emphasis">{% if reply.commenter.profile_pic %}
                <img src="{{ reply.commenter.profile_pic.url }}" alt="Profile Picture" style="width: 30px; height: 30px; border-radius: 50%;">
            {% else %}
                <img src="{% static 'img/profile_avatar.png' %}" alt="Default Profile Picture" style="width: 30px; height: 30px; border-radius: 50%;">
            {% endif %}
            <small>{{ reply.commenter.username }}</small></h5>
            <div class="content">
                <p class="text-gray-700 mt-2 mb-0" id="content" style="white-space: pre-wrap;">{{ reply.comment_content }}</p>
            </div>
            <button class="btn btn-sm btn-link text-decoration-none p-0 mt-1" onclick="toggleContent(this)">Read More</button>

            <div><small class="text-body-secondary fw-lighter">
                Updated {{ reply.comment_time|timesince }} ago </small></div>

               <div class="container mt-0">
                <div class="row">
                    <div class="col-3 px-0 mx-0">
                        {% if reply.replies.count == 0 %}
                            <a href="{% url 'FknAp:add_reply' post.id reply.id %}" class="btn text-danger btn-sm float-right mx-0">Reply</a>
                        {% else %} <a href="{% url 'FknAp:add_reply' post.id reply.id %}" class="btn text-primary btn-sm float-right mr-2">
                            {{ reply.replies.count }} {{ reply.replies.count|pluralize:"Reply,Replies" }}</a>{% endif %}
                    </div>
                    <div class="col-3">
                        {% if request.user.is_authenticated and customuser.username == reply.commenter.username %}
                            <form action="{% url 'FknAp:comment_delete' post.id reply.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn text-danger btn-sm float-right mr-2">Delete</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
                </div>

           </div>
       </div>

       {% endfor %}
    </div>

{% comment %} <!-- New Reply Form -->
<form method="post" action="{% url 'FknAp:add_reply' post.id parent_comment.id %}" class="comment-form">
    {% csrf_token %}
    <div class="input-group">
        <textarea class="form-control border-0" placeholder="Add a Reply" name="body" id="my-comment-reply" style="height: 2.5rem;" required minlength="1"></textarea>
        <div class="input-group-append ms-1">
            <button class="btn btn-link-light" type="submit">
                <i class="far fa-paper-plane"></i>
            </button>
        </div>
    </div>
  </form>

</div> {% endcomment %}

<div class="container mt-3 m-0 p-0">
    <form method="post" action="{% url 'FknAp:add_reply' post.id parent_comment.id %}" class="comment-form" style="position: fixed; bottom: 0; width: 100%; background-color: white; padding: 10px; box-shadow: 0 -2px 5px rgba(0,0,0,0.1);">
        {% csrf_token %}
        <div class="input-group">
            <textarea class="form-control border-0" placeholder="Add a Reply" name="body" id="my-comment-reply" style="height: 2.5rem;" required minlength="3"></textarea>
            <div class="input-group-append ms-1">
                <button class="btn btn-link-light" type="submit">
                    <i class="far fa-paper-plane"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<script src="{% static 'js/comments_v1.js' %}"></script>

{% endblock 'content' %}
