
body {
    background-color: #f8f9fa;
  }
  
  .comments-container {
    max-height: 100%;
    overflow-y: auto;
    margin-bottom: 70px; /* Adjusted margin for the new comment form */
  }
  
  .comment-card {
    margin-bottom: 15px;
  }
  
  .fixed-textarea {
    border-radius: 0;
    box-shadow: 0px -3px 6px -4px rgba(0, 0, 0, 0.15); /* Creating a subtle shadow at the bottom */
  }
  
  .comment-form {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
  }

