/* add post popup window styles */

        /* Custom styles for the "Add Post" button */
        .add-post-button {
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 999;
            background-color: #000157;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
    
        .add-post-button:hover {
            background-color: #000157;
        }
    
        /* Custom styles for the post window */
        .post-window {
            position: fixed;
            bottom: 20%;
            left: 20%;
            width: 60%;
            background: #fff;
            border: 2px solid #000157;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
            display: none;
        }